__pycache__
storepy/
Integrated Retail Analytics for Store Optimization.pptx
Sample_ML_Submission_Template.ipynb
stores data-set.csv
sales data-set.csv
Features data set.csv
~$Integrated Retail Analytics for Store Optimization.pptx
